*{
    margin: 50px;
}
.github{
    
    background-color: antiquewhite;
    border-bottom: 0.5px solid grey;
    border-right: 0.5px solid gray;
    border-radius: 15px;
    box-shadow: 20px 30px 20px gray;

}