*{
    margin: 50px;
    background-color: aliceblue;
}
.github{
    
    background-color: antiquewhite;
    border-bottom: 0.5px solid grey;
    border-right: 0.5px solid gray;
    border-radius: 15px;
    box-shadow: 20px 30px 20px gray;

}
.heading{
    font-family: cursive;
    font-size: 30px;
     background-color: gray;
     padding: 5px 10px;
     text-align: center;
     border-bottom: 1px solid whitesmoke;
     border-right: 1px solid whitesmoke;
     border-radius: 10px;
     box-shadow: 20px 20px 20px gray ;

     
}
